.header {
    padding: 90px 50px 92px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.header__container {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: circle;
}

.nav__list--header {
    align-items: center;
    gap: 13px;
    padding: 0 36px 5px 0;
}

.nav__link--current {
    margin-right: 14px;
    list-style: none;
}

.nav__link--current a {
    text-decoration: none;
}

.nav__link--lots {
    padding-left: 5px;
}

.nav__link--about {
    padding-left: 7px;
    padding-right: 0;
    margin-left: 16px;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.header__contacts {
    width: 240px;
    margin-bottom: 5px;
}

.contacts__link {
    padding-bottom: 4px;
}

.contacts__address {
    padding-top: 0;
}

.intro {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 1100px;
    min-height: 757px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/cover.jpg");
    background-size: cover;
}

.intro__title {
    margin: 165px 50px 107px 50px;
    display: flex;
    flex-direction: column;
    min-height: 385px;
    padding: 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.title__word--ono {
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 25px;
}

.title__word--tebe {
    align-self: center;
    margin: 15px 0 35px 24px;
}

.title__word--nado {
    margin-left: 613px;
}

.intro__auction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 50px 50px;
}

.auction__slogan {
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 18px;
}

.auction__button {
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    border: 1px solid white;
    padding: 12px 32px;
}

.lots {
    margin: 180px 24px 120px 24px;
}

.lots__title {
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 27px;
}

.lots__items {
    display: flex;
    gap: 25px;
    flex: 1;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 30px;
}

.lots__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
    padding: 48px 40px;
    min-height: 596px;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
}

.card__text {
    margin-top: auto;
    padding-bottom: 7px;
    padding-top: 9px;
    font-weight: 400;
    font-size: 20px;
}

.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card--film {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/card-lot-01.jpg");
}

.card--book {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/card-lot-02.jpg");
}

.card--picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/card-lot-03.jpg");
}

.lots__show-more {
    padding-left: 40px;
    font-size: 20px;
    font-weight: 400;
}

.about {
    display: flex;
    gap: 72px;
    margin-bottom: 156px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 47px;
}

.about__description {
    display: flex;
    flex-direction: column;
    margin-top: 133px;
}

.about__logo {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
}

.about__images {
    width: 148px;
    height: 114px;
}

.about__title {
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    padding-top: 3px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 24px;
    margin-right: 5px;
}

.footer {
    margin: 0 50px 82px 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
}

.footer__contacts {
    width: 264px;
}

.nav__list--footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-right: 20px;
}

.social {
    display: flex;
    gap: 48px;
}

.social__icon {
    width: 48px;
    height: 48px;
}
